.frame-child {
  position: absolute;
  top: -2px;
  left: -185px;
  border-radius: 43px;
  width: 1700px;
  height: 1088px;
  overflow: hidden;
}

.frame-item {
  position: absolute;
  top: 624px;
  left: 652px;
  width: 1006px;
  height: 516px;
  object-fit: contain;
  z-index: 1;
}
.frame-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.learn-more {
  height: 10px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
}
.learn-more-wrapper {
  width: 70.8px;
  border-radius: 13.81px;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-2) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.icon-park-outlinelike {
  height: 13px;
  width: 13px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-park-outlinelike-wrapper {
  height: 20.7px;
  width: 20.7px;
  border-radius: 13.81px;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-2) var(--padding-9xs);
  box-sizing: border-box;
}
.solarbookmark-broken-icon {
  height: 10.4px;
  width: 10.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.solarbookmark-broken-wrapper {
  height: 20.7px;
  width: 20.7px;
  border-radius: 13.81px;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-2) var(--padding-8xs);
  box-sizing: border-box;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-9);
}
.frame-container,
.frame-parent1,
.frame-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 185.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent1,
.frame-parent3 {
  left: 220.2px;
}
.frame-parent3 {
  left: 440.3px;
}
.frame-group {
  height: 20.7px;
  width: 626px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.create {
  text-transform: capitalize;
}
.createedit-blogs {
  align-self: stretch;
  color: white;
  position: relative;
  font-weight: 10;
  cursor: pointer;
  z-index: 1;
}
.edit{
  align-self: center;
  position: fixed;
}
.createedit-blogs-wrapper {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-8) 0 0;
  box-sizing: border-box;
}
.frame-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--dark-green);
  width: 25.2px;
  height: 25.2px;
}
.rectangle-div {
  top: 30.46px;
  left: 25.91px;
  border-radius: 9.27px;
  width: 8.3px;
  height: 5.3px;
  transform: rotate(-135deg);
  transform-origin: 0 0;
  z-index: 1;
}
.ellipse-parent {
  height: 30.5px;
  width: 29.7px;
  position: relative;
}
.search {
  position: relative;
  font-size: var(--font-size-smi-9);
  line-height: 93.86%;
  text-transform: capitalize;
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 42px;
}
.frame-button,
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-2) 0 0;
}
.frame-button {
  cursor: pointer;
  border: 1.1px solid var(--color-gray-200);
  padding: var(--padding-xs) var(--padding-mini) var(--padding-xs)
    var(--padding-base);
  background-color: transparent;
  backdrop-filter: blur(46.55px);
  border-radius: 101.62px;
  background: linear-gradient(
    107.78deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  flex-direction: row;
  gap: var(--gap-6xs-9);
  z-index: 1;
}
.profile-picture-icon {
  height: 52.4px;
  width: 52.4px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.riddhi-jain {
  margin: 0;
  text-transform: capitalize;
  font-weight: 500;
}
.riddhijain1402gmailcom {
  margin: 0;
  font-size: var(--font-size-xs-5);
  text-transform: lowercase;
  font-weight: 100;
}
.riddhi-jain-riddhijain1402g-container {
  height: 40px;
  position: relative;
  line-height: 158%;
  display: inline-block;
}
.profile-picture-parent,
.riddhi-jain-riddhijain1402g-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-1) 0 0;
}
.profile-picture-parent {
  flex: 1;
  backdrop-filter: blur(46.55px);
  border-radius: 101.62px;
  background: linear-gradient(
    107.78deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );
  border: 1.1px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-10xs);
  gap: var(--gap-5xs-6);
  min-width: 153px;
  z-index: 1;
}
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent9 {
  width: 360.3px;
  justify-content: flex-start;
  gap: var(--gap-smi-3);
  font-size: var(--font-size-mini-6);
}
.frame-parent8 {
  width: 1216.4px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.group-icon {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.group-icon,
.vector-icon {
  position: absolute;
}
.vector-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b {
  top: -1.3px;
  left: 3.4px;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.mingcutetext-fill {
  height: 15px;
  width: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.editor-toolbar,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs-9) var(--padding-8xs) var(--padding-7xs-6);
  position: relative;
}
.editor-toolbar {
  width: 26.5px;
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-smi);
}
.i,
.u {
  position: absolute;
  top: -1.1px;
  left: 4.3px;
  display: inline-block;
  font-weight: 300;
  min-width: 5.6px;
  z-index: 1;
}
.u {
  top: -2px;
  left: 2.2px;
  text-decoration: underline;
  font-weight: 500;
  min-width: 10px;
}
.bold-icon,
.italic-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.italic-icon {
  top: 14.1px;
  left: 1.9px;
  width: 11.6px;
  height: 1.3px;
  z-index: 1;
}
.vector-icon2 {
  position: absolute;
  top: 0.9px;
  left: 0;
  width: 100%;
  height: 100%;
}
.s,
.x2 {
  position: absolute;
  font-weight: 500;
  z-index: 1;
}
.s {
  top: -0.3px;
  left: 2.5px;
  text-decoration: line-through;
  display: inline-block;
  min-width: 9px;
}
.x2 {
  top: 0.9px;
  left: 2.7px;
}
.mingcutetext-fill4 {
  height: 15.2px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.frame-parent16,
.toolbar-buttons1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent16 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-7xs-7) var(--padding-10xs) var(--padding-7xs-6);
  position: relative;
}
.toolbar-buttons1 {
  width: 26.5px;
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
  box-sizing: border-box;
}
.rectangle-icon {
  height: 23.2px;
  width: 25.8px;
  position: relative;
  min-height: 23px;
}
.frame-child6 {
  width: 18.2px;
  height: 17.8px;
  position: relative;
}
.vector-wrapper {
  height: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-7);
  box-sizing: border-box;
}
.vector-parent {
  height: 23.2px;
  width: 111.9px;
  margin: 0 !important;
  position: absolute;
  top: 3.8px;
  left: 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.list-options-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.ordered-list {
  position: absolute;
  top: 5.8px;
  left: 10.7px;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
  white-space: nowrap;
  z-index: 2;
}
.list-options {
  height: 28.7px;
  width: 101.8px;
  position: absolute;
  margin: 0 !important;
  top: 1.1px;
  left: 8px;
}
.editor-toolbar3 {
  height: 30.7px;
  width: 117.9px;
  border-radius: 43.76px;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-4) var(--padding-8xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-4xs-9);
}
.frame-child8 {
  width: 18.2px;
  height: 17.8px;
  position: relative;
  flex-shrink: 0;
}
.vector-group {
  height: 23.2px;
  width: 132.3px;
  margin: 0 !important;
  position: absolute;
  top: 3.8px;
  left: 4.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.unordered-list {
  position: absolute;
  top: 5.8px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
  white-space: nowrap;
  z-index: 2;
}
.vector-parent1 {
  height: 28.7px;
  width: 121.9px;
  position: absolute;
  margin: 0 !important;
  top: 1.1px;
  left: 9.6px;
}
.editor-toolbar4 {
  height: 30.7px;
  width: 141.1px;
  border-radius: 43.76px;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-4) var(--padding-8xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-4xs-9);
}
.link-element-child {
  height: 23.2px;
  width: 25.8px;
  position: relative;
  min-height: 23px;
  flex-shrink: 0;
}
.link-element {
  align-self: stretch;
  height: 23.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.link-element-wrapper {
  width: 77.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-7) 0 0;
  box-sizing: border-box;
}
.color-picker-child {
  height: 28.7px;
  width: 73.3px;
  position: relative;
  z-index: 1;
}
.link {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 27px;
  z-index: 2;
}
.color-picker,
.link-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-wrapper {
  flex-direction: column;
  padding: 5.8px 0 0;
  margin-left: -39.8px;
}
.color-picker {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 0;
  margin-left: -75.2px;
}
.material-symbols-lightlink-icon {
  height: 34.8px;
  width: 30.4px;
  position: absolute;
  margin: 0 !important;
  bottom: -2.1px;
  left: 5.4px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.editor-container,
.frame-parent18 {
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent18 {
  width: 84.8px;
  border-radius: 43.76px;
  background-color: var(--dark-green);
  justify-content: flex-start;
  padding: var(--padding-11xs-1) var(--padding-10xs) 0.9px;
  position: relative;
}
.editor-container {
  margin: 0;
  flex: 1;
  border-radius: 37.82px;
  background-color: var(--color-gray-400);
  border: 0.7px solid var(--color-gray-300);
  overflow: hidden;
  justify-content: space-between;
  padding: 10.1px var(--padding-5xl) 10.2px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.font-dropdown {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  z-index: 1;
}
.font-color {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 67px;
  white-space: nowrap;
  z-index: 1;
}
.color-selection,
.style-container,
.style-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.color-selection {
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
}
.style-container,
.style-container-wrapper {
  flex-direction: row;
}
.style-container {
  flex: 1;
  border-radius: 43.76px;
  background-color: var(--green);
  padding: 2px var(--padding-12xs);
  gap: var(--gap-8xs);
}
.style-container-wrapper {
  width: 112px;
}
.highlight-color {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 96px;
  white-space: nowrap;
  z-index: 1;
}
.image-dropdown-parent {
  border-radius: 43.76px;
  background-color: var(--green);
  padding: 2.2px var(--padding-smi) 1.8px 0;
  gap: var(--gap-8xs);
}
.image-dropdown-parent,
.styling-options-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styling-options {
  flex-direction: row;
  gap: var(--gap-5xl-1);
}
.editor-container-parent,
.styling-options,
.styling-options-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.styling-options-wrapper {
  flex-direction: column;
  padding: 10px 0 0;
}
.editor-container-parent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: 51.9px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.majesticonsimage {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.upload-image {
  position: relative;
  font-size: var(--font-size-sm-3);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
  z-index: 1;
}
.image-upload-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.majesticonsimage-parent {
  flex: 1;
  border-radius: 43.76px;
  background-color: var(--green);
  justify-content: flex-start;
  padding: 3.4px 8px 3.3px;
  gap: 11px;
}
.frame-parent12,
.frame-wrapper,
.group-button,
.majesticonsimage-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 153px;
  justify-content: flex-start;
}
.frame-parent12,
.frame-wrapper {
  max-width: 100%;
}
.frame-wrapper {
  width: 494px;
  border-radius: 37.82px;
  background-color: var(--color-gray-400);
  border: 0.7px solid var(--color-gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-4xs) var(--padding-lgi);
  z-index: 1;
  margin-left: -297px;
}
.frame-parent12 {
  align-self: stretch;
  height: 51px;
  justify-content: flex-start;
}
.text {
  width: 0;
  height: 0;
  position: relative;
  display: inline-block;
}
.description-input {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 221px 0 0;
  box-sizing: border-box;
}
.divider {
  height: 0.7px;
  width: 271.6px;
  position: relative;
  border-top: 0.7px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  z-index: 1;
}
.footer,
.frame-parent11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.footer {
  border-radius: 38.3px;
  background-color: rgba(28, 28, 28, 0.52);
  flex-direction: row;
  justify-content: space-between;
  padding: 130px var(--padding-46xl) 395px 619px;
  gap: var(--gap-xl);
  z-index: 2;
}
.frame-parent11 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  max-width: 100%;
}
.delete-post {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.delete-button {
  border-radius: var(--br-8xl-9);
  color: #ffff;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-13xl);
  white-space: nowrap;
  z-index: 1;
}
.discard-changes {
  position: relative;
  font-size: var(--font-size-mini-5);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 2px;
}
.action-buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-8xl);
  background-color: var(--color-gray-100);
  flex: 1;
  border-radius: var(--br-8xl-9);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 113px;
  white-space: nowrap;
  z-index: 2;
}
.action-buttons1:hover,
.action-buttons:hover {
  background-color: var(--color-darkslategray-100);
}

.action-buttons1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-6xl);
  background-color: var(--color-gray-100);
  border-radius: var(--br-8xl-9);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.submit-blog {
  position: relative;
  font-size: var(--font-size-sm-7);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.submit-button,
.submit-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit-button {
  cursor: pointer;
  border: 3px solid var(--green);
  padding: var(--padding-mini) var(--padding-8xl) var(--padding-mini)
    var(--padding-14xl);
  background-color: var(--color-gray-900);
  align-self: stretch;
  backdrop-filter: blur(77.06px);
  border-radius: 26.37px;
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  z-index: 2;
}
.submit-button:hover {
  background-color: var(--color-gainsboro-300);
  border: 3px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
}
.submit-button-wrapper {
  width: 145.4px;
  flex-direction: column;
  padding: 1.5px 0 0;
  box-sizing: border-box;
}
.action-buttons-parent,
.delete-button-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.action-buttons-parent {
  width: 485.7px;
  justify-content: flex-start;
  gap: 11.1px;
}
.delete-button-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini-5);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent10,
.frame-parent7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-3xl);
  font-size: 12px;
  color: #000;
}
.frame-parent7 {
  width: 1270.7px;
  align-items: flex-end;
  gap: 71.3px;
  min-width: 1270.7px;
  flex-shrink: 0;
  font-size: var(--font-size-lgi-7);
}
.frame-child11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.biodiversity-v1,
.biodiversity-v1-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.biodiversity-v1-inner {
  height: 682.2px;
  width: 771.4px;
  flex-direction: column;
  padding: 209px 0 0;
  min-width: 771.4px;
  max-width: 100%;
  flex-shrink: 0;
}
.biodiversity-v1 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-27xl-2) var(--padding-10xl) var(--padding-3xl)
    var(--padding-11xl);
  gap: 556.4px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1315.2999999999993px) {
  .footer {
    padding-left: 309px;
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .frame-parent7 {
    flex: 1;
    min-width: 100%;
  }
  .frame-child11 {
    align-self: stretch;
    width: auto;
  }
  .biodiversity-v1-inner {
    flex: 1;
  }
  .biodiversity-v1 {
    gap: 278px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .biodiversity-v1-inner,
  .frame-parent7 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent8 {
    flex-wrap: wrap;
  }
  .editor-container-parent {
    gap: 26px;
  }
  .footer {
    padding-left: 154px;
    padding-top: 84px;
    padding-bottom: 257px;
    box-sizing: border-box;
  }
  .delete-button-parent {
    flex-wrap: wrap;
  }
  .frame-parent7 {
    gap: 236px;
    min-width: 100%;
  }
  .biodiversity-v1-inner {
    padding-top: 136px;
    box-sizing: border-box;
  }
  .biodiversity-v1 {
    gap: 139px;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .footer {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .action-buttons-parent {
    flex-wrap: wrap;
  }
  .frame-parent7 {
    gap: 18px;
    min-width: 100%;
  }
  .biodiversity-v1 {
    gap: 70px;
  }
}
